################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mosquito/.vs/Mosquito.slnx
/Mosquito/Mosquito/obj
/Mosquito/Mosquito/bin/Debug/net8.0
